<div class="text-white bg-black">
    <div class="grid grid-cols-5 grid-auto-row">
        <mat-card class="row-span-2 col-span-2">
            <img [src]="data.mainImage | actorImage" [alt]="data.name + ' photo.'" />
        </mat-card>
        @for (image of data.images; track $index) {
            <div class="row-span-1 col-span-1">
              <img [src]="image| actorImage" 
              alt="">
            </div>
        }
    </div>
    <div class="p-5">
        <p>{{ data.biography }}</p>
        <mat-divider class="divider"></mat-divider>
        <p><strong>Fecha de Nacimiento:</strong> {{ data.dateOfBirth }}</p>
        <mat-divider class="divider"></mat-divider>
        <p><strong>Participaciones:</strong></p>
        <div class="grid grid-cols-5 self-start space-x-2">
            @for (movie of movies; track $index){
                <mat-card>
                    <img mat-card-image [src]="movie.mainImage | movieImage" [alt]="movie.title + ' photo.'" />
                    <mat-card-content>
                        <h3>{{ movie.title }}</h3>
                    </mat-card-content>
                </mat-card>
            }
        </div>
        <h2 *ngIf="movies.length == 0">(Sin Registros)</h2>
    </div>

</div>
