<mat-card>
    <img mat-card-image [src]="movie.mainImage| movieImage" [alt]="movie.title + ' poster image.'">
    <mat-card-header>
        <mat-card-title>
           {{ movie.title }} 
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <mat-chip-listbox>
            @for (genre of movie.genre; track $index){
                <p class="chip-element px-2">{{ genre }}</p>
            }
        </mat-chip-listbox>
    </mat-card-content>
    <mat-card-actions class="flex justify-between">
        <button mat-raised-button class="action-button"
            [routerLink]="['/movies/edit/', movie.title]"
            *ngIf="authService.currentUserValue?.role === 'Admin'"
            >
            <mat-icon>edit</mat-icon>
            Editar
        </button>
        <button mat-raised-button class="action-button"
            (click)="onMoreInfo()"
            >
            <mat-icon>info</mat-icon>
            Ver Info
        </button>
    </mat-card-actions>
</mat-card>
