<div class="text-white bg-black">
    <div class="grid grid-cols-5 grid-auto-row">
        <mat-card class="row-span-2 col-span-2">
            <img [src]="data.mainImage | movieImage" [alt]="data.title + ' poster image.'" />
        </mat-card>
        @for (image of data.images; track $index) {
            <div class="row-span-1 col-span-1">
              <img [src]="image| movieImage" 
              alt="">
            </div>
        }
    </div>
    <div class="p-5">
        <div class="flex justify-between">
            <div>
                <h2 class="text-4xl">{{ data.title }}</h2>

            </div>
            <div class="grid grid-flow-col self-start">
                @for (genre of data.genre; track $index){
                    <p class="chip-element px-2 ">{{ genre }}</p>
                }
            </div>

        </div>
        <p>{{ data.description }}</p>
        <mat-divider class="divider"></mat-divider>
        <p><strong>Director:</strong> {{ data.director }}</p>
        <mat-divider class="divider"></mat-divider>
        <p><strong>Año de lanzamiento:</strong> {{ data.releaseYear }}</p>
        <mat-divider class="divider"></mat-divider>
        <p><strong>Calificación:</strong> {{ data.rating }}</p>
        <mat-divider class="divider"></mat-divider>
        <p><strong>Reparto:</strong> {{ data.cast?.join(', ') }}</p>
    </div>

</div>
