<div class="grid">
  <div class="col-6 sm:col-6">
    <mat-card>
      <mat-card-content>
        <form class="grid" [formGroup]="movieForm" (ngSubmit)="onSubmit()">
          <mat-form-field class="col-12 sm:col-6">
            <mat-label for="title">Título</mat-label>
            <input matInput required id="title" formControlName="title" type="text" />
          </mat-form-field>
          <mat-form-field class="col-12 sm:col-6">
            <mat-label for="description">Descripción</mat-label>
            <textarea matInput id="description" formControlName="description"></textarea>
          </mat-form-field>
          <mat-form-field class="col-12 sm:col-6">
            <mat-label for="genre">Géneros (separados por comas)</mat-label>
            <input matInput id="genre" formControlName="genre" type="text" />
          </mat-form-field>
          <mat-form-field class="col-12 sm:col-6">
            <mat-label for="director">Director</mat-label>
            <input matInput id="director" formControlName="director" type="text" />
          </mat-form-field>
          <mat-form-field class="col-12 sm:col-6">
            <mat-label for="releaseYear">Año de lanzamiento</mat-label>
            <input matInput id="releaseYear" formControlName="releaseYear" type="number" />
          </mat-form-field>
          <mat-form-field class="col-12 sm:col-6">
            <mat-label for="rating">Calificación</mat-label>
            <input matInput id="rating" formControlName="rating" type="number" step="0.1" />
          </mat-form-field>
          
          <mat-label for="mainImage">Imagen principal</mat-label>
          <input  id="mainImage" type="file" (change)="onImageSelect($event, 'mainImage')" />
        
          <label for="images">Otras imágenes</label>
          <input  id="images" type="file" multiple (change)="onImageSelect($event, 'images')" />

          <mat-form-field class="col-12 sm:col-6">
            <mat-label for="cast">Reparto (nombres separados por comas)</mat-label>
            <input matInput id="cast" formControlName="cast" type="text" />
          </mat-form-field>

          <button mat-raised-button type="submit" [disabled]="movieForm.invalid">Guardar película</button>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-6 sm:col-6">
    <img src="no-movie-image.jpg" alt="">
  </div>
</div>