.nav-item{
    color: white;
    background-color: #dc2626;
    cursor: pointer;
    border-radius: 5px;
    padding: 5px 10px;
    &:hover{
        color: #f8b400;
        background-color: #831515;
    }
}

.pages-select{
    color: white;
    background-color: #dc2626;
    cursor: pointer;
    border-radius: 5px;
    padding: 5px 10px;
}